/*
@Template : Main style
@Created by : Dharmvir Patel
@Version : 1.0.0

*/
body{
	
}
.footer {
 background : #001429;
 color : #FFF;
 padding : 15px;
}
.footer-bottom {
background : #C7D1D1;
padding : 10px 0 0 0;

}